/*dimensions */
/* end dimensions */
/* colours */
/* end colours */
/* line 4 */
section#interaction div {
  margin-bottom: 20px;
}
/* line 7 */
section#interaction div.small {
  width: 480px;
}
/* line 8 */
section#interaction div.left {
  float: left;
}
/* line 9 */
section#interaction div.right {
  float: right;
}
/* line 12 */
section#interaction #process .number {
  font-family: 'SwingDancer';
  font-size: 32pt;
  color: #64908a;
}
/* line 18 */
section#interaction #process h3 {
  display: inline;
}
/* line 22 */
section#interaction #process .diagram {
  width: 960px;
  position: relative;
}
/* line 26 */
section#interaction #process .diagram.small {
  width: 450px;
}
/* line 27 */
section#interaction #process .diagram img, section#interaction #process .diagram div, section#interaction #process .diagram li {
  position: absolute;
}
/* line 31 */
section#interaction #process #process1 .diagram {
  height: 300px;
}
/* line 33 */
section#interaction #process #process1 .diagram img {
  top: 10px;
  height: 280px;
  width: 280px;
  -webkit-transition: height 0.2s ease, width 0.2s ease, left 0.2s ease, top 0.2s ease;
  -moz-transition: height 0.2s ease, width 0.2s ease, left 0.2s ease, top 0.2s ease;
  -o-transition: height 0.2s ease, width 0.2s ease, left 0.2s ease, top 0.2s ease;
  transition: height 0.2s ease, width 0.2s ease, left 0.2s ease, top 0.2s ease;
}
/* line 42 */
section#interaction #process #process1 .diagram img:hover {
  height: 300px;
  width: 300px;
  top: 0;
}
/* line 48 */
section#interaction #process #process1 .diagram img#p1 {
  left: 80px;
  z-index: 0;
}
/* line 51 */
section#interaction #process #process1 .diagram img#p1:hover {
  z-index: 2;
}
/* line 54 */
section#interaction #process #process1 .diagram img#p2 {
  left: 340px;
  z-index: 1;
}
/* line 56 */
section#interaction #process #process1 .diagram img#p2:hover {
  left: 330px;
}
/* line 60 */
section#interaction #process #process1 .diagram img#p3 {
  left: 600px;
  z-index: 0;
}
/* line 63 */
section#interaction #process #process1 .diagram img#p3:hover {
  left: 580px;
  z-index: 2;
}
/* line 69 */
section#interaction #process #process2 .diagram {
  font-family: PetitaMedium;
  font-size: 16pt;
  height: 380px;
}
/* line 74 */
section#interaction #process #process2 .diagram .label-a {
  color: #cc2a41;
  top: 130px;
  left: 150px;
}
/* line 75 */
section#interaction #process #process2 .diagram .label-b {
  color: #64908a;
  top: 130px;
  left: 630px;
}
/* line 77 */
section#interaction #process #process2 .diagram .person {
  top: 20px;
}
/* line 79 */
section#interaction #process #process2 .diagram .person#person-a {
  left: 190px;
}
/* line 80 */
section#interaction #process #process2 .diagram .person#person-b {
  left: 670px;
}
/* line 83 */
section#interaction #process #process2 .diagram .lines {
  top: 160px;
}
/* line 86 */
section#interaction #process #process2 .diagram .lines#lines-a {
  left: 140px;
}
/* line 87 */
section#interaction #process #process2 .diagram .lines#lines-b {
  left: 620px;
}
/* line 90 */
section#interaction #process #process2 .diagram .this {
  -webkit-transition: width 0.2s ease, left 0.2s ease;
  -moz-transition: width 0.2s ease, left 0.2s ease;
  -o-transition: width 0.2s ease, left 0.2s ease;
  transition: width 0.2s ease, left 0.2s ease;
}
/* line 103 */
section#interaction #process #process2 .diagram .this#this-a1 {
  top: 200px;
  left: 65px;
  width: 80px;
}
/* line 104 */
section#interaction #process #process2 .diagram .this#this-a1:hover {
  width: 90px;
  left: 60px;
}
/* line 105 */
section#interaction #process #process2 .diagram .this#this-a2 {
  top: 255px;
  left: 190px;
  width: 110px;
}
/* line 106 */
section#interaction #process #process2 .diagram .this#this-a2:hover {
  width: 130px;
  left: 180px;
}
/* line 107 */
section#interaction #process #process2 .diagram .this#this-a3 {
  top: 190px;
  left: 320px;
  width: 90px;
}
/* line 108 */
section#interaction #process #process2 .diagram .this#this-a3:hover {
  width: 100px;
  left: 315px;
}
/* line 110 */
section#interaction #process #process2 .diagram .this#this-b1 {
  top: 285px;
  left: 550px;
  width: 110px;
}
/* line 111 */
section#interaction #process #process2 .diagram .this#this-b1:hover {
  width: 130px;
  left: 540px;
}
/* line 112 */
section#interaction #process #process2 .diagram .this#this-b2 {
  top: 215px;
  left: 680px;
  width: 90px;
}
/* line 113 */
section#interaction #process #process2 .diagram .this#this-b2:hover {
  width: 110px;
  left: 670px;
}
/* line 114 */
section#interaction #process #process2 .diagram .this#this-b3 {
  top: 250px;
  left: 800px;
  width: 100px;
}
/* line 115 */
section#interaction #process #process2 .diagram .this#this-b3:hover {
  width: 120px;
  left: 790px;
}
/* line 120 */
section#interaction #process #process3 .diagram {
  height: 170px;
}
/* line 128 */
section#interaction #process #process3 #arrow {
  left: 340px;
}
/* line 130 */
section#interaction #process #process3 .this {
  -webkit-transition: width 0.2s ease, left 0.2s ease;
  -moz-transition: width 0.2s ease, left 0.2s ease;
  -o-transition: width 0.2s ease, left 0.2s ease;
  transition: width 0.2s ease, left 0.2s ease;
}
/* line 136 */
section#interaction #process #process3 .this#this-c1 {
  top: 50px;
  left: 60px;
  width: 110px;
}
/* line 137 */
section#interaction #process #process3 .this#this-c1:hover {
  width: 130px;
  left: 50px;
}
/* line 138 */
section#interaction #process #process3 .this#this-c2 {
  top: 70px;
  left: 250px;
  width: 70px;
}
/* line 139 */
section#interaction #process #process3 .this#this-c2:hover {
  width: 80px;
  left: 245px;
}
/* line 140 */
section#interaction #process #process3 .this#this-c3 {
  top: 55px;
  left: 400px;
  width: 100px;
}
/* line 141 */
section#interaction #process #process3 .this#this-c3:hover {
  width: 120px;
  left: 390px;
}
/* line 142 */
section#interaction #process #process3 .this#this-c4 {
  top: 40px;
  left: 590px;
  width: 130px;
}
/* line 143 */
section#interaction #process #process3 .this#this-c4:hover {
  width: 150px;
  left: 580px;
}
/* line 144 */
section#interaction #process #process3 .this#this-c5 {
  top: 65px;
  left: 800px;
  width: 80px;
}
/* line 145 */
section#interaction #process #process3 .this#this-c5:hover {
  width: 90px;
  left: 795px;
}
/* line 152 */
section#interaction #process #process4 .diagram {
  height: 180px;
}
/* line 154 */
section#interaction #process #process4 ul {
  left: 50px;
  list-style-type: none;
  font-family: 'LeagueGothic';
  font-size: 26pt;
  color: #cc2a41;
}
/* line 160 */
section#interaction #process #process4 ul li {
  margin: 0;
  padding: 12px 0 0 8px;
  width: 77px;
  height: 59px;
  background: url("/images/process/circle.png");
  top: 60px;
}
/* line 167 */
section#interaction #process #process4 ul li:nth-child(1) {
  left: 80px;
}
/* line 171 */
section#interaction #process #process4 ul li:nth-child(2) {
  left: 235px;
}
/* line 175 */
section#interaction #process #process4 ul li:nth-child(3) {
  left: 390px;
  top: 10px;
}
/* line 180 */
section#interaction #process #process4 ul li:nth-child(4) {
  left: 540px;
}
/* line 184 */
section#interaction #process #process4 ul li:nth-child(5) {
  left: 690px;
  top: 10px;
}
/* line 189 */
section#interaction #process #process4 ul li:nth-child(6) {
  left: 690px;
  top: 106px;
}
/* line 195 */
section#interaction #process #process4 .arrow {
  top: 78px;
}
/* line 197 */
section#interaction #process #process4 .arrow#arrow1 {
  left: 180px;
}
/* line 198 */
section#interaction #process #process4 .arrow#arrow2 {
  left: 335px;
  top: 48px;
}
/* line 199 */
section#interaction #process #process4 .arrow#arrow3 {
  left: 490px;
  top: 48px;
}
/* line 200 */
section#interaction #process #process4 .arrow#arrow4 {
  left: 635px;
  top: 48px;
}
/* line 201 */
section#interaction #process #process4 .arrow#arrow5 {
  left: 635px;
  top: 106px;
}
/* line 203 */
section#interaction #process #process4 #dotted-line {
  width: 190px;
  height: 4px;
  border-bottom: 4px dashed #cc2a41;
  top: 90px;
  left: 335px;
}
/* line 213 */
section#interaction #process #process5 .diagram {
  height: 200px;
}
/* line 214 */
section#interaction #process #process5 .diagram img {
  left: 60px;
}
/* line 217 */
section#interaction #process #process6 .diagram {
  height: 200px;
}
/* line 218 */
section#interaction #process #process6 .diagram img {
  left: 100px;
}
