/*dimensions */
/* end dimensions */
/* colours */
/* end colours */
/*bubble values*/
/*bubble values*/
/*slider sizes*/
/* global layout*/
/* line 46 */
body {
  background: url("/images/bgtex.jpg");
  /* end header*/
  /*end nav*/
  /* end main */
}
/* line 49 */
body #bgstripe {
  background: url("/images/stripe.png") repeat-x;
  width: 100%;
  height: 16px;
  position: absolute;
}
/* line 56 */
body #container, body footer {
  width: 960px;
}
/* line 60 */
body header {
  height: 110px;
  /* end a */
}
/* line 62 */
body header a {
  font-size: 1em;
  width: 250px;
  height: 80px;
  display: block;
  color: #424254;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 73 */
body header a h1 {
  height: 80px;
  margin: 0;
  display: inline;
  vertical-align: 12px;
  font-family: 'Swingdancer';
  font-size: 2.2em;
  font-weight: normal;
}
/* line 83 */
body header a img {
  display: inline;
  margin-top: 30px;
  width: 68px;
  height: 80px;
}
/* line 84 */
body header a:hover {
  color: #cc2a41;
}
/* line 88 */
body nav#main {
  float: right;
  /*end ul*/
}
/* line 90 */
body nav#main ul {
  /*end li*/
}
/* line 91 */
body nav#main ul li {
  display: inline;
  /*end a*/
}
/* line 93 */
body nav#main ul li a {
  float: left;
  display: block;
  position: relative;
  color: #fff;
  -moz-transition: -moz-border-radius 0.3s ease, width 0.3s ease, height 0.3s ease;
  -o-transition: -o-border-radius 0.3s ease, width 0.3s ease, height 0.3s ease;
  -webkit-transition: -webkit-border-radius 0.3s ease, width 0.3s ease, height 0.3s ease;
  transition: border-radius 0.3s ease, width 0.3s ease, height 0.3s ease;
  font-family: 'PetitaLight';
  font-size: 1.3em;
}
/* line 108 */
body nav#main ul li a span {
  display: block;
  position: absolute;
}
/* line 110 */
body nav#main ul li a.projects {
  background-color: #cc2a41;
  height: 110px;
  width: 220px;
  margin-left: 0px;
  z-index: 1;
  -moz-border-radius: 0 0 110px 110px;
  -webkit-border-radius: 0 0 110px 110px;
  border-radius: 0 0 110px 110px;
}
/* line 120 */
body nav#main ul li a.projects:hover, body nav#main ul li a.projects:focus {
  -o-border-radius: 0 0 121.0px 121.0px;
  -moz-border-radius: 0 0 121.0px 121.0px;
  -webkit-border-radius: 0 0 121.0px 121.0px;
  border-radius: 0 0 121.0px 121.0px;
  height: 121.0px;
  width: 242.0px;
}
/* line 129 */
body nav#main ul li a.projects span {
  top: 10px;
  left: 20%;
}
/* line 131 */
body nav#main ul li a.process {
  background-color: #424254;
  height: 80px;
  width: 160px;
  margin-left: -80px;
  z-index: 10;
  -moz-border-radius: 0 0 80px 80px;
  -webkit-border-radius: 0 0 80px 80px;
  border-radius: 0 0 80px 80px;
}
/* line 142 */
body nav#main ul li a.process:hover, body nav#main ul li a.process:focus {
  -o-border-radius: 0 0 92px 92px;
  -moz-border-radius: 0 0 92px 92px;
  -webkit-border-radius: 0 0 92px 92px;
  border-radius: 0 0 92px 92px;
  height: 92px;
  width: 184px;
}
/* line 151 */
body nav#main ul li a.process span {
  top: 10px;
  left: 35%;
}
/* line 154 */
body nav#main ul li a.visual {
  background-color: #64908a;
  height: 130px;
  width: 260px;
  margin-left: -80px;
  z-index: 2;
  -moz-border-radius: 0 0 130px 130px;
  -webkit-border-radius: 0 0 130px 130px;
  border-radius: 0 0 130px 130px;
}
/* line 164 */
body nav#main ul li a.visual:hover, body nav#main ul li a.visual:focus {
  -o-border-radius: 0 0 143px 143px;
  -moz-border-radius: 0 0 143px 143px;
  -webkit-border-radius: 0 0 143px 143px;
  border-radius: 0 0 143px 143px;
  height: 143px;
  width: 273px;
}
/* line 173 */
body nav#main ul li a.visual span {
  top: 10px;
  left: 120px;
}
/* line 176 */
body nav#main ul li a.about {
  background-color: #e8caa4;
  height: 100px;
  width: 200px;
  margin-left: -90px;
  -moz-border-radius: 0 0 100px 100px;
  -webkit-border-radius: 0 0 100px 100px;
  border-radius: 0 0 100px 100px;
}
/* line 185 */
body nav#main ul li a.about:hover, body nav#main ul li a.about:focus {
  -o-border-radius: 0 0 110.0px 110.0px;
  -moz-border-radius: 0 0 110.0px 110.0px;
  -webkit-border-radius: 0 0 110.0px 110.0px;
  border-radius: 0 0 110.0px 110.0px;
  height: 110.0px;
  width: 220.0px;
}
/* line 194 */
body nav#main ul li a.about span {
  top: 10px;
  left: 120px;
}
/* line 201 */
body div#main {
  /* end section */
}
/* line 202 */
body div#main section {
  font-family: "PetitaMedium";
}
/* line 205 */
body div#main section section {
  padding: 20px 0;
}
/* line 209 */
body div#main section h1 {
  font-family: "PetitaLight";
  text-align: center;
  margin: 0px auto 20px auto;
  padding-top: 40px;
  width: 200px;
  border-bottom: 1px solid #9e9e9e;
  color: #424254;
  font-weight: normal;
  font-size: 2.6em;
}
/* line 223 */
body div#main section h2 {
  font-family: "PetitaBold";
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: normal;
  color: #64908a;
  padding-bottom: 15px;
}
/* line 232 */
body div#main section h3 {
  font-family: "PetitaBold";
  font-weight: normal;
  color: #cc2a41;
  font-size: 1.6em;
  line-height: 2em;
}
/* line 240 */
body div#main section p {
  font-size: 1.2em;
}
/* line 245 */
body div#main section hr {
  clear: both;
}
/* line 251 */
body footer {
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 10;
  font-family: 'PetitaMedium';
  font-size: 0.9em;
  color: #424254;
  /*end ul*/
}
/* line 262 */
body footer #attribution {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
/* line 268 */
body footer ul {
  /*end li*/
}
/* line 269 */
body footer ul li {
  position: absolute;
  display: inline;
  bottom: 0;
  /*end a*/
}
/* line 273 */
body footer ul li a {
  float: left;
  display: block;
  position: relative;
  color: #fff;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  font-family: 'PetitaLight';
  font-size: 1.3em;
}
/* line 288 */
body footer ul li a span {
  display: block;
  position: absolute;
}
/* line 290 */
body footer ul li a:hover {
  color: #fff;
}
/* line 295 */
body footer ul li img {
  position: absolute;
  z-index: 20;
  margin: 0;
  padding: 0;
}
/* line 302 */
body footer ul li.email {
  left: 0;
}
/* line 304 */
body footer ul li.email img {
  top: -67px;
  left: 80px;
}
/* line 309 */
body footer ul li.email a {
  background-color: #424254;
  height: 130px;
  width: 240px;
  margin-left: 0px;
  z-index: 2;
  -moz-border-radius: 130px 130px 0 0;
  -webkit-border-radius: 130px 130px 0 0;
  border-radius: 130px 130px 0 0;
}
/* line 319 */
body footer ul li.email a:hover {
  background-color: #2c2c50;
}
/* line 323 */
body footer ul li.email a span {
  bottom: 20px;
  left: 50px;
}
/* line 329 */
body footer ul li.twitter {
  left: 240px;
}
/* line 331 */
body footer ul li.twitter img {
  top: -2px;
  left: 0px;
}
/* line 335 */
body footer ul li.twitter a {
  background-color: #64908a;
  height: 80px;
  width: 160px;
  margin-left: -50px;
  margin-top: 50px;
  z-index: 1;
  -moz-border-radius: 80px 80px 0 0;
  -webkit-border-radius: 80px 80px 0 0;
  border-radius: 80px 80px 0 0;
}
/* line 346 */
body footer ul li.twitter a:hover {
  background-color: #2b7369;
}
/* line 350 */
body footer ul li.twitter a span {
  bottom: 20px;
  left: 80px;
}

/* end body*/
/* end global layout */
/* specific page layouts */
/* line 364 */
#main {
  /* home page */
  /*end h1*/
  /*end home page*/
  /* visual */
  /* end visual*/
  /* projects */
  /*end projects */
  /* process */
  /* end process */
  /* visual */
  /* about */
  /* end about */
}
/* line 366 */
#main h1#welcome {
  color: #424254;
  font-family: 'PetitaLight';
  font-weight: normal;
  font-size: 2.5em;
  margin: 40px 0 20px 30px;
  width: 700px;
}
/* line 375 */
#main h1#welcome .highlight {
  font-size: 1.7em;
}
/* line 378 */
#main .sliderwrapper {
  width: 890px;
  height: 480px;
  margin: 0 auto;
  padding-top: 1px;
  margin-bottom: 80px;
  background: url("/images/darkbgtex.png");
}
/* line 385 */
#main .sliderwrapper .slider {
  margin: 15px;
  width: 860px;
  height: 450px;
}
/* line 395 */
#main section#portfolio {
  padding-bottom: 40px;
}
/* line 398 */
#main section#portfolio #filters {
  text-align: center;
  margin: 10px 0;
  list-style-type: none;
  clear: both;
}
/* line 403 */
#main section#portfolio #filters li {
  display: inline;
}
/* line 408 */
#main section#portfolio #works .work {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;
  background-color: #cc2a41;
  height: 230px;
  overflow: hidden;
}
/* line 416 */
#main section#portfolio #works .work img {
  padding: 0;
  margin: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
/* line 425 */
#main section#portfolio #works .work img:hover {
  width: 100%;
  /*apparently needed for opacity in ie 5-7*/
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
/* line 432 */
#main section#portfolio #works .col1 {
  width: 110px;
}
/* line 433 */
#main section#portfolio #works .col2 {
  width: 230px;
}
/* line 434 */
#main section#portfolio #works .col4 {
  width: 470px;
}
/* line 435 */
#main section#portfolio #works .half {
  height: 110px;
}
/* line 444 */
#main section#projects section:nth-child(even) h3 {
  background: url("/images/teal-tab.png") no-repeat;
}
/* line 450 */
#main section#projects section:nth-child(odd) h3 {
  background: url("/images/red-tab.png") no-repeat;
}
/* line 455 */
#main section#projects section.project {
  position: relative;
}
/* line 457 */
#main section#projects section.project h3 {
  width: 208px;
  height: 72px;
  color: #f5f5f5;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: 60px;
  line-height: 2em;
  font-family: LeagueGothic;
  font-size: 28pt;
  text-align: center;
}
/* line 473 */
#main section#projects #envision-slider p {
  font-size: 11pt;
  margin-bottom: 0.5em;
}
/* line 477 */
#main section#projects #envision-slider h4 {
  font-size: 1.4em;
}
/* line 482 */
#main section#projects .sliderwrapper {
  margin: 0 auto;
  width: 890px;
  height: 480px;
  margin-bottom: 80px;
}
/* line 488 */
#main section#projects .sliderwrapper .slider {
  margin: 25px;
  width: 840px;
  height: 430px;
  padding: 0;
}
/* line 495 */
#main section#projects .sliderwrapper .nivo-controlNav {
  bottom: -15px;
}
/* line 500 */
#main section#projects .sliderwrapper .nivo-directionNav .arrow {
  background: url(/images/arrows-wide.png) no-repeat;
  width: 55px;
}
/* line 506 */
#main section#projects .sliderwrapper .nivo-directionNav a:hover .arrow {
  background-position: 0 -85px;
}
/* line 512 */
#main section#projects .sliderwrapper a.nivo-nextNav {
  right: -55px;
}
/* line 515 */
#main section#projects .sliderwrapper a.nivo-nextNav .arrow {
  right: 0px;
  background-position: -55px 0;
}
/* line 520 */
#main section#projects .sliderwrapper a.nivo-nextNav:hover .arrow {
  background-position: -55px -85px;
}
/* line 525 */
#main section#projects .sliderwrapper a.nivo-prevNav {
  left: -55px;
}
/* line 530 */
#main section#projects .sliderwrapper h4 {
  font-family: PetitaMedium;
  font-weight: normal;
  font-size: 18pt;
  margin: 0.4em 0;
}
/* line 536 */
#main section#projects .sliderwrapper a {
  font-size: inherit;
  color: #cc2a41;
}
/* line 540 */
#main section#projects .sliderwrapper a:visited {
  color: #64908a;
}
/* line 544 */
#main section#projects .sliderwrapper a:visited:hover, #main section#projects .sliderwrapper a:hover {
  color: #3a5450;
}
/* line 549 */
#main section#projects .sliderwrapper p {
  color: #3a3a3a;
  line-height: 1.5em;
  font-size: 12pt;
  font-family: PetitaLight;
  margin: 0 0 0.2em 0;
  padding: 0;
}
/* line 550 */
#main section#projects .sliderwrapper p strong {
  font-family: PetitaMedium;
  font-weight: normal;
}
/* line 554 */
#main section#projects .sliderwrapper p small {
  font-size: 0.8em;
}
/* line 571 */
#main section#process nav {
  text-align: center;
  margin-bottom: 10px;
}
/* line 576 */
#main section#process h2 {
  color: #cc2a41;
}
/* line 580 */
#main section#process h3 {
  font-family: 'PetitaMedium';
  font-size: 20pt;
  color: #64908a;
}
/* line 590 */
#main section#visual p {
  text-align: center;
}
/* line 597 */
#main section#about section#short-bio img {
  float: left;
  padding-bottom: 20px;
}
/* line 601 */
#main section#about section#short-bio p {
  width: 750px;
  line-height: 1.5em;
  float: right;
  font-size: 1.2em;
  margin-bottom: 10px;
}
/* line 610 */
#main section#about section#interaction-designer img {
  float: right;
  padding-bottom: 20px;
}
/* line 615 */
#main section#about section#interaction-designer p {
  width: 300px;
  float: left;
}
/* line 619 */
#main section#about section#interaction-designer ul {
  font-size: 1.2em;
  list-style-image: url("/images/bullet.png");
}
/* line 622 */
#main section#about section#interaction-designer ul li {
  padding: 16pt 0;
}
/* line 627 */
#main section#about section#background p {
  padding-bottom: 10px;
  margin-left: 20px;
}

/* end specific page layouts */
/* line 635 */
a {
  text-decoration: none;
  color: #607890;
  font-family: 'PetitaLight';
  font-size: 1.2em;
}
/* line 637 */
a img {
  border: none;
}

/* line 645 */
p {
  font-family: "PetitaMedium";
}

/* line 649 */
#loader {
  height: 80px;
  background: url("/images/loading.gif") no-repeat 50% 50%;
  width: 100%;
  display: none;
}

/* line 657 */
.highlight1 {
  color: #cc2a41;
}

/* line 661 */
.highlight2 {
  color: #64908a;
}

/* sticky footer styles */
/* line 669 */
html, body {
  height: 100%;
}

/* line 670 */
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -220px;
}

/* line 677 */
footer, #push {
  height: 220px;
  clear: both;
}

/* end sticky footer */
