%section#about
  %h1 About
  %section#short-bio
    %h2 The Short Bio...
    %img{:src => "/images/ri.jpg", :title => "Yep, that's my mug", :alt => "Photo of Ri Liu"}
    %p 
      Originally from Brisbane, Australia, I now live the right-side-up in Chicago.
    %p
      I've dabbled in various web dev technologies, but at the moment I'm keen to do some design (visual and front-end)/user experience work with a tech focus. I'm armed with a IT and a Communication Design degree with experience in web design, UX and digital publishing. 
    %p
      I am currently seeking both freelance/permanent work. Hit me up at 
      %a{:href => "mailto:ri@playfulcreative.com"} ri@playfulcreative.com
  %hr
  %section#interaction-designer
    %h2 What I do as an Interaction Designer...
    %img{:src => "/images/interaction-design.png", :alt => "Examples of Interaction Design work"}
    %p
      %ul
        %li Design usable interfaces
        %li Combine form and function in the best way possible
        %li Pushing boundaries by experimenting with ways in which we can interact with technology
  %hr
  %section#background
    %h2 My Background...
    %h3 Graphic Design
    %p 
      I have worked in almost the entire spectrum of the visual design field from designing book covers, to logos, websites and 3D models. You can see my visual-based works 
      %a{:href=> "visual.html"} here.
    %h3 Front End Development
    %p After considering how an interface will look, I can then turn these designs into a reality. I am a tamer of browsers and am familiar with Haml, Scss and the like (with a bit of javascript).  
    %h3 Programming
    %p I have worked on backend for web applications with various web frameworks and languages - the current flavour of choice being Ruby on Rails. I also like to play around with programming experimental visualisations and interfaces. 
  %hr
  %section#what-this-means
    %h2 What This Means...
    %p I can combine my knowledge of visual design principles and understanding of technical possibilities to design aesthetic, implementable and usable interfaces. 