%section#about
  %h1 About
  %img{:src => "/images/ri.jpg", :title => "Yep, that's my mug", :alt => "Photo of Ri Liu"}
  %p 
    Originally from Brisbane, Australia, I now live the right-side-up in Chicago.
  %p
    I've dabbled in various web dev technologies, but at the moment I'm keen to do some design (visual and front-end)/user experience work with a tech focus. I'm armed with a IT and a Communication Design degree with experience in web design, UX and digital publishing. 
  %p
    I am currently seeking both freelance/permanent work. Hit me up at 
    %a{:href => "mailto:ri@playfulcreative.com"} ri@playfulcreative.com