%h1{:id => "welcome"}
  You have arrived at the portfolio of 
  %span{:class => "highlight1 highlight"}
    interaction 
  and 
  %span{:class => "highlight2 highlight"}
    graphic 
  designer, Ri Liu.

.sliderwrapper
  %section{:id => "home-slider", :class => "slider nivoSlider"}
    = img "whale.png"
    = img "wireframes.png"
    = img "pixemo.png"
    = img "globes.png"

