= stylesheets :interactionprocess
%section#interaction
  %h1 Interaction
  %nav
    %a{:href => "#projects"} Skip to my projects
  %p As an interaction designer, I connect the surface layer (what's visible) of a system with the functions it performs. This involves firstly looking at the people and context around the system and then follow through the process from wireframes, visual design to development.
  %section#process
    %h2 The Process...
    
    #process1
      %span{:class => "number"} 1
      %h3 Define the problem space
      .diagram
        %img{:id => "p1", :src => "/images/process/problem1.png"}
        %img{:id => "p2", :src => "/images/process/problem2.png"}
        %img{:id => "p3", :src => "/images/process/problem3.png"} 
    
    #process2
      %span{:class => "number"} 2
      %h3 Identify users' goals of the system
      .diagram
        %img{:id => "person-a", :class => "person", :src => "/images/process/person-red.png"}
        .label-a User A wants to do...
        %img{:id => "lines-a", :class => "lines", :src => "/images/process/lines-red.png"}
        %img{:id => "this-a1", :class => "this", :src => "/images/process/this-red.png"}
        %img{:id => "this-a2", :class => "this", :src => "/images/process/this-red.png"}
        %img{:id => "this-a3", :class => "this", :src => "/images/process/this-red.png"}        
        
        %img{:id => "person-b", :class => "person", :src => "/images/process/person-teal.png"}
        .label-b User B wants to do...
        %img{:id => "lines-b", :class => "lines", :src => "/images/process/lines-teal.png"}
        %img{:id => "this-b1", :class => "this", :src => "/images/process/this-teal.png"}
        %img{:id => "this-b2", :class => "this", :src => "/images/process/this-teal.png"}
        %img{:id => "this-b3", :class => "this", :src => "/images/process/this-teal.png"}
    
    #process3
      %span{:class => "number"} 3
      %h3 Order goals by priority and frequency of use
      .diagram
        %img{:id => "arrow", :src => "/images/process/arrow.png"}
        %img{:id => "this-c1", :class => "this", :src => "/images/process/this-blue.png"}
        %img{:id => "this-c2", :class => "this", :src => "/images/process/this-blue.png"}
        %img{:id => "this-c3", :class => "this", :src => "/images/process/this-blue.png"}
        %img{:id => "this-c4", :class => "this", :src => "/images/process/this-blue.png"}
        %img{:id => "this-c5", :class => "this", :src => "/images/process/this-blue.png"}
      
    #process4
      %span{:class => "number"} 4
      %h3 Break down each goal into steps
      .diagram        
        %ul
          %li Step 1
          %li Step 2
          %li Step 2a
          %li Step 3
          %li Step 4a
          %li Step 4b
        %img{:id => "arrow1", :class => "arrow", :src => "/images/process/arrow-straight.png"}
        %img{:id => "arrow2", :class => "arrow", :src => "/images/process/arrow-diag-up.png"}
        %img{:id => "arrow3", :class => "arrow", :src => "/images/process/arrow-diag-down.png"}
        #dotted-line
        %img{:id => "arrow4", :class => "arrow", :src => "/images/process/arrow-diag-up.png"}
        %img{:id => "arrow5", :class => "arrow", :src => "/images/process/arrow-diag-down.png"}
        
        
      
    #process5{:class => "left small"}
      %span{:class => "number"} 5
      %h3 Wireframe
      .diagram.small
        %img{:id => "wireframe", :src => "/images/process/wireframes.png"}
   
    #process6{:class => "right small"}
      %span{:class => "number"} 6
      %h3 Test
      .diagram.small
        %img{:id => "test", :src => "/images/process/test.png"}
  %hr      
  %section#projects
    %a{:name => "projects"}
    %h2 
      My Projects...
    
    %h3
      Pixemo
    #pixemo-description{:class => "description"}
      %p This is an interactive installation that explores human emotions in Twitter data. Each tweet leaves a trail depending on the emotion it represents and the space becomes an visualisation of the emotional state of the current Twitterverse.
      %p The goal of this project was to create an explorative and playful work that allows the observer to control what emotions are present in the world and also interact directly with the physical representations of the emotions.
      %p This project was presented at the Queensland University of Technology's 2009 'This Way Up' Exhibition.
    #pixemo-images{:class => "project"}
      %a
        %span Screenshot of the visualisation in progress
        %img{:src => '/images/interaction-projects/pixemo1.png'}
      %a
        %span 3D image of the physical casing (image by Suzanne Conkas)
        %img{:src => '/images/interaction-projects/pixemo2.png'}
      %a
        %span Emotion markers
        %img{:src => '/images/interaction-projects/pixemo3.png'}
      %a
        %span Project written in Processing and Java
        %img{:src => '/images/interaction-projects/pixemo4.png'}
    %h3
      Envision
    #envision-description{:class => "description"}
      %p 
        I was hired in early 2011 by a company called 
        %a{:href => "http://ennova.com.au"} Ennova 
        based in Brisbane, Australia who were developing a digital solution to construction management. Working with amazing team who were applying new thinking to an old, archaic industry, I developed the user experience of the application.
      %p This involved firstly understanding the lives and the roles of people in this completely unfamiliar industry and witnessing their work from their perspective.
      %p Using this information, the team and I formed stories for each of the tasks required for the client to complete their job.
      %p From there, I designed wireframes that the design and functionality would be based on and put it all together to form the whole picture of the app.
    #envision-images{:class => "project"}
      %a
        %span User persona cards of each type of user that would be interacting with the app.
        %img{:src => '/images/interaction-projects/envision1.png'}
      %a
        %span Map out stories for each task
        %img{:src => '/images/interaction-projects/envision2.png'}
      %a
        %span The wireframes
        %img{:src => '/images/interaction-projects/envision3.png'}
      %a
        %span Putting it all together
        %img{:src => '/images/interaction-projects/envision4.jpg'}
    %h3
      VideoMixer
    #vm-description{:class => "description"}
      %p VideoMixer was another experimental interface project that sequences music using youtube clips created using Quartz Composer.
      %p 
        See it in action
        %a{:href => "http://www.youtube.com/watch?v=RXDzgP2cAnM&feature=player_embedded"} here.
    #vm-images{:class => "project"}
      %a
        %span VideoMixer in action
        %img{:src => '/images/interaction-projects/vm1.png'}
      %a
        %span Magic happens when you start combining multiple videos!
        %img{:src => '/images/interaction-projects/vm2.png'}
      %a
        %span Behind the scenes - written using visual programming
        %img{:src => '/images/interaction-projects/vm3.png'}
      
    %h3
      Scamper
    #scamper-description{:class => "description"}
      %p This is another earlier project I was involved in the conception and technical development of.
      %p Scamper is an educational tool that allows classrooms to create scavenger hunts for students to use technology to undertake learning in an engaging manner.
  