- @layout = "ipad"
%div{"data-role" => "page", :id => "home"}
  %a{:href => "#visual", "data-transition" => "slidedown"}
    Midwest Young Artists
%div{"data-role" => "page", "data-theme" => "a", :id => "visual"}
  %img{:src => "images/ipad/MYA.png"}