%section#portfolio
  %h1 Purely Visual
  %nav
    %ul{:id => "filters"}
      %li
        %a{:href => "#graphic", "data-filter" => ".graphic"} Graphic
        |
      %li
        %a{:href => "#type", "data-filter" =>".type"} Type
        |
      %li
        %a{:href => "#all", "data-filter" =>"*"}  All
  %div{:id => "loader"}
  %div{:id => "works"}
    %div{:class => "work col2 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/flower2.png"}
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/flower2.png"}
    %div{:class => "work col4 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/whale.png"}
        %img{:width => "470", :height => "230", :title => "", :src => "/images/graphics/thumbs/whale.png"}
    %div{:class => "work col2 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/cubes.png"}
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/cubes.png"}
    %div{:class => "work col2 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/peek.png"}
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/peek.png"}
    %div{:class => "work col4 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/hello.png"}   
        %img{:width => "470", :height => "230", :title => "", :src => "/images/graphics/thumbs/hello.png"}
    %div{:class => "work col4 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/baubles.png"}   
        %img{:width => "470", :height => "230", :title => "", :src => "/images/graphics/thumbs/baubles.png"}
    %div{:class => "work col2 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/cheese.png"}   
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/cheese.png"}
    %div{:class => "work col4 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/ribbonandballs.png"}   
        %img{:width => "470", :height => "230", :title => "", :src => "/images/graphics/thumbs/ribbonandballs.png"}
    %div{:class => "work col4 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/dolphin.png"}   
        %img{:width => "470", :height => "230", :title => "", :src => "/images/graphics/thumbs/dolphin.png"}
    %div{:class => "work col2 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/rhino.png"}   
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/rhino.png"}
    %div{:class => "work col2 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/pattern.png"}
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/pattern.png"}
    %div{:class => "work col2 graphic"}  
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/cookiecutterman.png"}   
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/cookiecutterman.png"}
    %div{:class => "work col2 graphic"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/help.png"}   
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/help.png"}
    %div{:class => "work col2 graphic"}  
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/flower.png"}   
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/flower.png"}
    %div{:class => "work col2 type"}  
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/a.png"}   
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/a.png"}
    %div{:class => "work col2 type"}  
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/helveticats-upper.png"}   
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/helveticats-upper.png"}
    %div{:class => "work col4 type"}  
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/helveticats-lower.png"}   
        %img{:width => "470", :height => "230", :title => "", :src => "/images/graphics/thumbs/helveticats-lower.png"}
    %div{:class => "work col2 type"}  
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/seven.png"}   
        %img{:width => "230", :height => "230", :title => "", :src => "/images/graphics/thumbs/seven.png"}
    %div{:class => "work col4 type"}  
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/cling.png"}   
        %img{:width => "470", :height => "230", :title => "", :src => "/images/graphics/thumbs/cling.png"}
    %div{:class => "work col2 half type"}
      %a{:id => "fancy", :rel => "gallery", :href => "/images/graphics/woman.png"}   
        %img{:width => "230", :height => "110", :title => "", :src => "/images/graphics/thumbs/woman.png"}
  
:javascript
  document.getElementById("works").style.visibility = "hidden";
  document.getElementById("loader").style.display = "block";