/*dimensions */
$content-width: 960px;
$grid-unit: 120px;
/* end dimensions */

/* colours */
$grey-dark-blue: #424254;
$dark-blue-hover: #2c2c50;
$red: #cc2a41;
$teal: #64908a;
$teal-hover: #2b7369;
$beige: #e8caa4;
/* end colours */
