.sliderwrapper {
	-moz-box-shadow: 2px 2px 5px #A8A8A8;
	-webkit-box-shadow: 2px 2px 5px #A8A8A8;
	box-shadow: 2px 2px 5px #A8A8A8;
	margin: 0 auto;
	background: url('/images/darkbgtex.png');
	position: relative;
}

.slider {
	position: relative;
	background:url(/images/loading.gif) no-repeat 50% 50%;
}
.slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}


.nivo-controlNav {
	position:absolute;
	bottom: -10px;
	left: 45%;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(/images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav {
  a {
    position: absolute;
    top: 0px;
  	display:block;
  	width:400px;
  	height:430px;
		text-indent:-9999px;
  	border:0;
  	
		.arrow {
			position: absolute;
			background:url(/images/arrows.png) no-repeat;
			width: 45px;
			height: 85px;
			top: 150px;
		}
		
  	&:hover {
			.arrow{
				background-position: 0 -85px;
  		}
		}
	}
}
a.nivo-nextNav {
	right:-45px;
	
	.arrow {
		right: 0px;
		background-position:-45px 0;
	}
	
	&:hover .arrow{
	background-position: -45px -85px;
  }

}
a.nivo-prevNav {
	left: -45px;
}

.nivo-caption {
	background-color: #f3f3f3;
  filter: alpha(opacity=30);
  -moz-opacity:0.3;
	-webkit-opacity:0.3;
  opacity: 0.3;
	position: absolute;
	top: 80px;
	right: 0;
	width: 470px;
	height: 240px;
	padding: 10px 15px;
	z-index: 20;
  -moz-transition: opacity 0.4s linear;
	-webkit-transition: -webkit-opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
	
	&:hover {
		filter: alpha(opacity=90);
	  -moz-opacity:0.9;
		-webkit-opacity:0.9;
	  opacity: 0.9;
	}
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
