#slider {
	background:url(/images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	bottom: 50px;
	left: 400px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(/images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav {
  a {
    position: absolute;
    top: 150px;
  	display:block;
  	width:45px;
  	height:85px;
  	background:url(/images/arrows.png) no-repeat;
  	text-indent:-9999px;
  	border:0;
  	
  	&:hover {
  	background-position: 0 -85px;
	  }
  }
}
a.nivo-nextNav {
	background-position:-45px 0;
	right:-45px;
	
	&:hover {
	background-position: -45px -85px;
  }
}
a.nivo-prevNav {
	left:-45px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
