!!! 5
%head
  %meta{:charset=> "utf-8"}
  %meta{"http-equiv" => "X-UA-Compatible", :content=> "IE=edge,chrome=1"}

  %title
    Portfolio
  %meta{:name => "description", :content => ""}
  %meta{:name => "author", :content => ""}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %link{ :rel => "shortcut icon", :href => "/favicon.ico"}
  %link{ :rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css"}
  / %script{ :src => "http://code.jquery.com/jquery-1.6.2.min.js"}
  / %script{ :src => "http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"}
  / %script{ :src => "js/ipad.js"}
  %script{ :src => "js/processing-1.0.0.min.js"} 
  :javascript  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24323137-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
%body
  = yield